<div style="height: 700px; background-image: url(../assets/wall1.jpg); background-size:cover;">

<div class="container-fluid ">
    <div class="row">
        <div class="col-12 ">
            <h1 class ="text-center mt-5 text-main"> DECLARER UN RISQUE </h1>
        </div>
    </div>


    <form method="post" class="row"></form>

    <div class="p-3 mt-4 card" style="background-color: #2b2e38;">

        <div class="mb-3">
            <h4 class="text-white">DECLARER VOTRE RISQUE:</h4>
            <div class="form-group">
                
                <input type="text" class="form-style mt-4" placeholder="TITRE" id="inputDefault">
            </div>


            <div class="form-group">
                <input type="text" class="form-style mt-4" placeholder="DESCRIPTION" id="inputDefault">
            </div>

            <div class="form-group">
                
                <input type="text" class="form-style mt-4" placeholder="DATE DEBUT" id="inputDefault">
            </div>

            <div class="form-group">
                
                <input type="text" class="form-style mt-4 mb-5" placeholder="DATE FIN" id="inputDefault">
            </div>
            
            <div class="row">
                <div class ="col-12 text-center">
                    <button type ="submit" class="btn" >SUBMIT</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
</div>
